<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Script Requirement-->
    <title>COVIDWORLD - COVID19 Dataset</title>
</head>
<body>

    <!--navbar-->
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><span class="text-info">COVID<span class="text-danger">WORLD</span></span></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">🏠Home</a>
                </li>
            
                </ul>
                <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Cari..." aria-label="Search">
                <button class="btn btn-outline-none " type="submit">🔍</button>
                </form>
            </div>
            </div>
        </nav>

    <main>
        <!--  summary card -->
        <p class="h2 text-center margin: 0 auto; width: 90%;">World Covid Data Identification</p>
        <div id="summary-card">
        <div class="row row-cols-1 row-cols-md-3 m-5">
            <div class="col">
              <div class="card border-danger">
                <div class="card-body">
                  <h5 class="card-title text-center text-danger">Positive</h5>
                  <h6 class="card-title text-center" id="summary-value-positive"></h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-success">
                <div class="card-body"> 
                  <h5 class="card-title text-center text-success">Recovered</h5>
                  <h5 class="card-title text-center" id="summary-value-recovered"></h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-dark">
                <div class="card-body">
                  <h5 class="card-title text-center">Deaths</h5>
                  <h5 class="card-title text-center" id="summary-value-death"></h6>
                </div>
              </div>
            </div>
          </div>
        </div>

          <!--Content-->
          <p class="h2 text-center margin: 0 auto; width: 90%;">Another Country</p>
          <table class="table table-responsive" style="margin-bottom:10px auto ;margin: 0 auto; width: 90%;" id="myTable">
            <thead  class="table-dark">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">Positive</th>
                <th scope="col">Death</th>
                <th scope="col">Recovered</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

          <!--container fluid custom-element-->
          <div class="container-fluid">

            <!-- custom Element container fluid-->
            <create-fluid
                judul="Tips you must know, if you want to safe"
                lead="
                Each person has a different response to COVID-19. Most of the people exposed to this virus
                will experience mild to moderate symptoms, and will recover without needing hospitalization.
                Most common symptoms: fever, cough, tiredness, loss of taste or smell and less common symptoms: sore throat, headache
                aches and pains, diarrhea, skin rash, or discolored fingers or toes, red or irritated eyes"
                
                button="#"
            > </create-fluid>
            </div>
            </div>
    </main>
        
    <footer>
            <div class="row bg-dark fixed-bottom">
                <div class="col-md-6 text-white">
                    <p>Copyright &copy; 2023 Reo Aldo</p>
                </div>
                <div class="col-md-6 text-md-end" >
                    <a href="#" class="text-white" style="text-decoration: none;">Terms of Use</a> 
                    <span class="text-muted mx-2">|</span> 
                    <a href="#" class="text-white" style="text-decoration: none;">Privacy Policy</a>
                </div>
            </div>
        </footer>
    </body>
</html>